In [8]:
import gensim
import pandas as pd
import numpy as np
import os
import artm
import logging
import glob
import re
from gensim.models.phrases import Phrases, Phraser
from gensim.models.word2vec import Text8Corpus
from gensim.test.utils import datapath
from sklearn.neighbors import NearestNeighbors
import pickle
from pathlib import Path
from tqdm.notebook import tqdm

In [9]:
pd.options.display.max_rows = 999
pd.options.display.max_columns = 999

In [10]:
tqdm.pandas()

/home/science/rbc_projects/rbcpro-ml-lab/venv/lib/python3.7/site-packages/tqdm/std.py:658: FutureWarning: The Panel class is removed from pandas. Accessing it from the top-level namespace will also be removed in the next version
  from pandas import Panel

In [11]:
raw_data_path = os.path.join("..", "..", "data", "raw")
processed_data_path = os.path.join("..", "..", "data", "processed")
models_path = os.path.join("..", "..", "models")
experiments_path = os.path.join("..", "..", "experiments")

In [12]:
db_url = 'postgresql://lib_public_v2_mnt:qc95g13n@pgb-dp.db.rbc.ru:6543/directserv'

In [13]:
table = "lib_public_document"

In [ ]:
df = pd.read_sql_table(table, db_url, index_col="id", parse_dates=["last_modified"], chunksize=None)

In [9]:
# Загрузка имеющегося/последнего обновления датасета

In [17]:
df_processed_documents =  pd.read_csv(os.path.join(raw_data_path, "publicru-dataset-2020-03-16", "lib_public_document.csv"), index_col="id")

In [18]:
df_processed_documents.head()

,content_api_id,title,annotation,body,pages,authors,size,last_modified,issue_id,pages_visual
id,,,,,,,,,,
325,182582609,Эффект слабого рубля,Мы взяли две компании с сопоставимой выручкой ...,<body><p><b>Мы взяли две компании с сопоставим...,"[70, 71]",NaN,40754,2016-11-24 13:15:42.057148+00:00,9,"['70', '71']"
21225,175907949,РОССТАТ,Индексы потребительских цен на товары и услуги...,<body><p><b>Индексы потребительских цен на тов...,[4],NaN,28483,2016-11-24 23:46:59.007647+00:00,599,['4']
21226,175907948,Неотложка с планшетом,ЗДОРОВЬЕ . В системе ЕМИАС зарегистрировались ...,<body><p><b>ЗДОРОВЬЕ</b> </p>\n<p>В системе ЕМ...,[4],Сергей Жуков,30346,2016-11-24 23:46:59.090845+00:00,599,['4']
1638,183704356,ПРОГНОЗЫ НОМЕРА,К 2017-2018 годам ныне растущий агрокомплекс с...,<body><p>К 2017-2018 годам ныне растущий агрок...,[5],NaN,818,2016-11-24 14:16:32.322323+00:00,42,['5']
2,154615279,ТАНЕЦ НЕНАСТОЯЩЕГО ЛЕБЕДЯ,ПЕРЕД НАМИ КАК БУДТО СЦЕНА ИЗ БАЛЕТА: ДВА МИСТ...,<body><p>ПЕРЕД НАМИ КАК БУДТО СЦЕНА ИЗ БАЛЕТА:...,"[60, 61]",NaN,44550,2016-11-24 13:01:38.412930+00:00,1,"['60', '61']"

In [20]:
# Индекс  крайнего документа в корпусе

In [19]:
df_processed_documents.index.max()

1046885

In [40]:
df_new = pd.read_sql_query(f"select * from lib_public_document where id > {df_processed_documents.index.max()}", db_url, index_col="id", parse_dates=["last_modified"], chunksize=None)

In [41]:
df_new.head()

,content_api_id,title,annotation,body,pages,authors,size,last_modified,issue_id,pages_visual
id,,,,,,,,,,
1046886,310797379,Консервы поедут в вагонах,"19 февраля 2020, Россия, Москва, wagon-cargo.r...","<p>19 февраля 2020, Россия, Москва, wagon-carg...","[60, 61]",Дмитрий Востриков,2925,2020-03-16 11:44:54.594082+00:00,19418,"[60, 61]"
1046887,310797390,ИПЕМ: ежегодное изменение транспортной составл...,"21 февраля 2020, Россия, Москва, morvesti.ru. ...","<p>21 февраля 2020, Россия, Москва, morvesti.r...",[61],,2213,2020-03-16 11:44:54.619551+00:00,19418,[61]
1046888,310792830,С начала года на сервисах ОТЛК ЕРА отправлено ...,"06 февраля 2020, Россия, Москва, utlc.com. По ...","<p>06 февраля 2020, Россия, Москва, utlc.com. ...","[19, 20]",,1061,2020-03-16 11:44:54.638295+00:00,19418,"[19, 20]"
1046889,310792926,РЖД разработали план по ускоренной модернизаци...,"10 февраля 2020, Россия, Москва, tass.ru. РЖД ...","<p>10 февраля 2020, Россия, Москва, tass.ru. Р...",[20],,1864,2020-03-16 11:44:54.658454+00:00,19418,[20]
1046890,310793004,РЖД формируют грузовую базу для запуска контей...,"12 февраля 2020, Россия, Челябинская обл., int...","<p>12 февраля 2020, Россия, Челябинская обл., ...",[20],,2345,2020-03-16 11:44:54.677238+00:00,19418,[20]

In [43]:
df_new.shape

(3889, 10)

In [42]:
df_new.sort_index(axis=0, inplace=True, )
# df_new.reset_index(drop=True, inplace=True)
df_new.head()

,content_api_id,title,annotation,body,pages,authors,size,last_modified,issue_id,pages_visual
id,,,,,,,,,,
1046886,310797379,Консервы поедут в вагонах,"19 февраля 2020, Россия, Москва, wagon-cargo.r...","<p>19 февраля 2020, Россия, Москва, wagon-carg...","[60, 61]",Дмитрий Востриков,2925,2020-03-16 11:44:54.594082+00:00,19418,"[60, 61]"
1046887,310797390,ИПЕМ: ежегодное изменение транспортной составл...,"21 февраля 2020, Россия, Москва, morvesti.ru. ...","<p>21 февраля 2020, Россия, Москва, morvesti.r...",[61],,2213,2020-03-16 11:44:54.619551+00:00,19418,[61]
1046888,310792830,С начала года на сервисах ОТЛК ЕРА отправлено ...,"06 февраля 2020, Россия, Москва, utlc.com. По ...","<p>06 февраля 2020, Россия, Москва, utlc.com. ...","[19, 20]",,1061,2020-03-16 11:44:54.638295+00:00,19418,"[19, 20]"
1046889,310792926,РЖД разработали план по ускоренной модернизаци...,"10 февраля 2020, Россия, Москва, tass.ru. РЖД ...","<p>10 февраля 2020, Россия, Москва, tass.ru. Р...",[20],,1864,2020-03-16 11:44:54.658454+00:00,19418,[20]
1046890,310793004,РЖД формируют грузовую базу для запуска контей...,"12 февраля 2020, Россия, Челябинская обл., int...","<p>12 февраля 2020, Россия, Челябинская обл., ...",[20],,2345,2020-03-16 11:44:54.677238+00:00,19418,[20]

In [31]:
%%time

df_new = pd.read_sql_query(f"select * from lib_public_document where id > {df_processed_documents.index.max()};", db_url, index_col="id", parse_dates=["last_modified"], chunksize=None)

CPU times: user 356 ms, sys: 216 ms, total: 572 ms
Wall time: 5.14 s

In [32]:
df_new.shape

(3889, 10)

In [33]:
%%time

df_ = pd.read_sql_query(f"select count(id) from lib_public_document;", db_url, chunksize=None)

CPU times: user 5.46 ms, sys: 3.47 ms, total: 8.93 ms
Wall time: 476 ms

In [34]:
df_

    count
0  585390

In [35]:
df_new.shape[0] + df_processed_documents.shape[0]

585941

In [36]:
pd.read_sql_query(f"select count(id) from lib_public_document where id > {df_processed_documents.index.max()};", db_url, chunksize=None)

   count
0   3889

In [37]:
pd.read_sql_query(f"select count(id) from lib_public_document where id <= {df_processed_documents.index.max()};", db_url, chunksize=None)

    count
0  581501

In [38]:
df_processed_documents.shape

(582052, 10)

In [4]:
df_processed_documents =  pd.read_pickle(os.path.join(processed_data_path, "publicru-dataset-2020-03-16", "processed_documents.pkl"))

In [60]:
%%time

pd.read_sql_query(f"select count(id) from lib_public_document where id <= 21225;", 
                           db_url, chunksize=None)

CPU times: user 6.57 ms, sys: 3.54 ms, total: 10.1 ms
Wall time: 244 ms

   count
0  21034

In [61]:
%%time

pd.read_sql_query(f"select count(id) from lib_public_document where id > 21225;", 
                           db_url, chunksize=None)

CPU times: user 10.4 ms, sys: 0 ns, total: 10.4 ms
Wall time: 412 ms

    count
0  564356

In [57]:
%%time

pd.read_sql_query(f"select count(id) from lib_public_document where id > 20000;", 
                           db_url, chunksize=None)

CPU times: user 9.27 ms, sys: 462 µs, total: 9.73 ms
Wall time: 380 ms

    count
0  565520

In [62]:
%%time

pd.read_sql_query(f"select count(id) from lib_public_document;", 
                           db_url, chunksize=None)

CPU times: user 9.81 ms, sys: 510 µs, total: 10.3 ms
Wall time: 362 ms

    count
0  585390

In [49]:
9999 + 575391 == 585390

True

In [58]:
9999 + 9871 + 565520 == 585390

True

In [63]:
21034 + 564356 == 585390

True

In [64]:
%%time

df_new = pd.read_sql_query(f"select id from lib_public_document;", 
                           db_url, index_col="id", chunksize=None)

CPU times: user 557 ms, sys: 91.3 ms, total: 649 ms
Wall time: 4.86 s

In [65]:
df_new.shape

(585390, 0)

In [66]:
df_new.index.max()

1053080

In [67]:
%%time

pd.read_sql_query(f"select count(id) from lib_public_document where id < 500000;", 
                           db_url, chunksize=None)

CPU times: user 9.7 ms, sys: 0 ns, total: 9.7 ms
Wall time: 294 ms

    count
0  297846

In [68]:
%%time

pd.read_sql_query(f"select count(id) from lib_public_document where id >= 500000;", 
                           db_url, chunksize=None)

CPU times: user 9.91 ms, sys: 0 ns, total: 9.91 ms
Wall time: 315 ms

    count
0  287544

In [69]:
%%time

pd.read_sql_query(f"select count(id) from lib_public_document;", 
                           db_url, chunksize=None)

CPU times: user 5.53 ms, sys: 4.31 ms, total: 9.84 ms
Wall time: 381 ms

    count
0  585390

In [70]:
297846 + 287544 == 585390

True

In [46]:
%%time

df_new = pd.read_sql_query(f"select * from lib_public_document where id < 10000;", 
                           db_url, index_col="id", parse_dates=["last_modified"], chunksize=None)

CPU times: user 756 ms, sys: 481 ms, total: 1.24 s
Wall time: 12.4 s